.headerContent {
  padding-top: 5%;
  background: linear-gradient(90deg, #fff 51%, #33BBFF 50%);
}
.navScheduleBtn {
margin-left: 60%;
}

.navMenu {
  margin-left: 5%;
  display: flex;
}
.nav-link {
  font-size: 21px;
  color: black;
}

.scheduleBtn {
  background-color: darkblue;
  padding: 10px;
  border-radius: 10px;
  color: #ffffff;
}
