.sectionBackgroundColor {
  background-color: turquoise;
}

.leftDescriptionBox {
  display: inline;
}

.leftSectionTitle {
font-family: 'Times New Roman', Times, serif;
font-size: 4em;}

.scheduleBtn {
  background-color: darkblue;
  padding: 15px;
  border-radius: 10px;
  color: #ffffff;
}

.scheduleBtnTrans {
  background-color: transparent;
  border-color: transparent;
  padding: 15px;
  color: black;
  font-weight: bold;
}

.rightSectionImage {
  width: inherit;
  background: linear-gradient(90deg, #33BBFF 50%, #33BBFF 50%);


}